/* Logo Font Import */
@font-face {
  font-family: "LEMON MILK";
  src: url("fonts/LEMONMILK-Medium.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Universal Styles*/
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background-color: #1a1a1a; /* Dark background for the entire page */
  color: #f2f2f2; /* Light text color for readability */
}

/* Header Styles */
.main-header {
  font-family: "LEMON MILK", sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #c10912; /* Netflix-style red */
  position: absolute; /* Position the header at the top-left */
  top: 20px; /* Adjust spacing from the top */
  left: 20px; /* Adjust spacing from the left */
  background-color: rgba(
    0,
    0,
    0,
    0.7
  ); /* Semi-transparent background for contrast */
  padding: 10px 20px;
  border-radius: 8px; /* Optional: Add rounded corners */
  margin: 0;
  z-index: 1000; /* Ensure it stays above other elements */
}

/* Login Page Styles */
.login-container {
  position: relative; /* Ensure child elements like the header align properly */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("./Images/LoginWallpaper.jpg") no-repeat center center fixed;
  background-size: cover;
}

.sign-in-title {
  font-size: 36px;
  font-weight: bold;
  color: #ffffff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: rgba(9, 9, 9, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 50px 40px;
  width: 300px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 300px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-field {
  background: #333333;
  border: none;
  padding: 12px;
  font-size: 14px;
  color: #ffffff;
  border-radius: 5px;
}

.input-field::placeholder {
  color: #bbbbbb;
}

.input-field:focus {
  outline: 2px solid #e50914;
}

.forgot-password {
  font-size: 12px;
  color: #e50914;
  text-decoration: none;
  margin-top: -5px;
  margin-bottom: 15px;
}

.forgot-password:hover {
  text-decoration: underline;
}

.login-button {
  background-color: #e50914;
  border: none;
  border-radius: 5px;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #ac1723;
}

/* Header styling */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333333;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.menu-icon {
  display: flex;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  align-items: center;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #e50914;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.menu-icon:hover .bar {
  background-color: #f61d2f;
}

.title {
  font-size: 32px;
  color: #f2f2f2;
  font-weight: 600;
  text-shadow: 1px 1px #000;
}

.logout-button {
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #f61d2f;
}

/* Main content */
.main-content {
  padding: 20px;
}

.sort-section {
  margin-bottom: 20px;
}

.sort-text {
  font-size: 18px;
  color: #e50914;
  font-weight: 600;
  text-align: left;
}

/* Table styling */
.movie-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  background-color: #333333;
  color: #f2f2f2;
}

.movie-table th,
.movie-table td {
  border: 1px solid #444444;
  text-align: left;
  padding: 10px;
  font-size: 14px;
}

.movie-table th {
  background-color: #444444;
  font-weight: bold;
  text-transform: uppercase;
}

.movie-table tbody tr:nth-child(even) {
  background-color: #2a2a2a;
}

.edit-button {
  background-color: #e50914;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 12px;
}

.edit-button:hover {
  background-color: #f61d2f;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  margin-top: 10px;
  color: #f2f2f2;
}

.pagination p {
  margin-right: 10px;
}

.next-link {
  color: #e50914;
  text-decoration: none;
  font-weight: bold;
}

.next-link:hover {
  text-decoration: underline;
}
